## World cities
Explore the data to identify data quality issues, like missing values, duplicate data, etc. Document steps necessary to clean the data

This dataset contains information about Traffic Accident Dataset in US taken from https://www.kaggle.com/okfn/world-cities

In [1]:
!ls -lh

total 4558120
-rw-r--r--@ 1 davidhidalgo  staff   1.2G Jul  7 09:29 US_Accidents_June20.csv
-rw-r--r--  1 davidhidalgo  staff   779M Dec  7 15:24 accidents.csv
-rw-r--r--  1 davidhidalgo  staff    39K Dec  7 15:26 traffic_accidens.ipynb
-rw-r--r--  1 davidhidalgo  staff   941B Dec  7 15:37 world_cities.ipynb
-rwxr-xr-x@ 1 davidhidalgo  staff   157M Sep 20  2019 worldcitiespop.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("worldcitiespop.csv")
df.head(10)

/Users/davidhidalgo/.pyenv/versions/3.8.3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,6,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6,NaN,42.466667,1.483333
5,ad,andorra,Andorra,7,NaN,42.500000,1.516667
6,ad,andorra la vella,Andorra la Vella,7,20430.0,42.500000,1.516667
7,ad,andorra-vieille,Andorra-Vieille,7,NaN,42.500000,1.516667
8,ad,andorre,Andorre,7,NaN,42.500000,1.516667
9,ad,andorre-la-vieille,Andorre-la-Vieille,7,NaN,42.500000,1.516667

In [4]:
len(df)

3173958

### Searching for duplicated data

#### Searching duplicated data for every row

In [5]:
duplicateDf = df[df.duplicated()]
print("Duplicate Rows based on all columns are :")
print(duplicateDf)

Duplicate Rows based on all columns are :
        Country           City     AccentCity Region  Population   Latitude  \
849          af    `abdul kala    `Abdul Kala     29         NaN  33.244444
1320         af   abzi khuda'i   Abzi Khuda'i      2         NaN  34.887596
1434         af        adamzai        Adamzai     23         NaN  31.485326
1514         af         adizai         Adizai     14         NaN  34.884457
1562         af         aduzai         Aduzai     39         NaN  32.551787
...         ...            ...            ...    ...         ...        ...
3071252      ve  maria rosario  María Rosario     14         NaN   9.187222
3073781      ve   puente palma   Puente Palma     13         NaN  10.050000
3075911      ve      sicaragua      Sicaragua     13         NaN   9.948889
3076092      ve      tacarigua      Tacarigua     13         NaN  10.162222
3076654      ve         turqui         Turqui     11         NaN  10.449444

         Longitude
849      68.828611
1320     63.068040
1434     65.528894
1514     69.657845
1562     65.392415
...            ...
3071252 -71.048889
3073781 -70.877778
3075911 -70.094444
3076092 -69.210000
3076654 -70.711111

[311 rows x 7 columns]

#### Dropping duplicated data for every row

In [7]:
df = df.drop_duplicates()

In [8]:
duplicateDf = df[df.duplicated()]
print("Duplicate Rows based on all columns are :")
print(duplicateDf)

Duplicate Rows based on all columns are :
Empty DataFrame
Columns: [Country, City, AccentCity, Region, Population, Latitude, Longitude]
Index: []

#### Searching duplicated data for Country-City

In [17]:
duplicateIdDf = df[df.duplicated(['Country','City','AccentCity','Region'])]
print("Duplicate Rows based on its identifier column are:")
print(duplicateIdDf)

Duplicate Rows based on its identifier column are:
        Country              City        AccentCity Region  Population  \
583          af  `abbas khan kala  `Abbas Khan Kala     29         NaN
841          af        `abdul haq        `Abdul Haq      2         NaN
850          af        abdul'kala        Abdul'kala     29         NaN
905          af      abdullahkhan      Abdullahkhan     19         NaN
906          af    `abdullah khan    `Abdullah Khan     19         NaN
...         ...               ...               ...    ...         ...
3132924      za         oudekraal         Oudekraal     11         NaN
3134665      za        springvale        Springvale     05         NaN
3135468      za        tweespruit        Tweespruit     03         NaN
3158378      zr           katanda           Katanda      0         NaN
3158379      zr          ka-tanda          Ka-Tanda      0         NaN

          Latitude  Longitude
583      32.503976  69.209795
841      35.433951  63.388675
850      33.274167  68.870278
905      31.163611  61.841944
906      31.163611  61.841944
...            ...        ...
3132924 -34.250000  19.600000
3134665 -31.717554  25.789744
3135468 -29.185207  27.031891
3158378  -7.733333  17.850000
3158379  -7.833333  18.966667

[3342 rows x 7 columns]

#### Dropping duplicated data for every row

In [21]:
 df = df.drop_duplicates(['Country','City','AccentCity','Region'])

In [22]:
duplicateIdDf = df[df.duplicated(['Country','City','AccentCity','Region'])]
print("Duplicate Rows based on its identifier column are:")
print(duplicateIdDf)

Duplicate Rows based on its identifier column are:
Empty DataFrame
Columns: [Country, City, AccentCity, Region, Population, Latitude, Longitude]
Index: []

In [23]:
 df.groupby("City")["City"].count()

City
 bab el ahmar           1
 chefe muzamane         1
 donji kraj             1
 el eneal               1
 el islero              1
                       ..
Þrestbakki              2
Þvera                   1
Þykkvabaejarklaustur    1
Þykkvabejarklaustur     1
Þykkvibaer              2
Name: City, Length: 2351891, dtype: int64

In [24]:
df.describe()

         Population      Latitude     Longitude
count  4.797000e+04  3.170305e+06  3.170305e+06
mean   4.772768e+04  2.719040e+01  3.706567e+01
std    3.029197e+05  2.195815e+01  6.323034e+01
min    7.000000e+00 -5.493333e+01 -1.799833e+02
25%    3.732000e+03  1.163333e+01  7.297780e+00
50%    1.078200e+04  3.249636e+01  3.523556e+01
75%    2.799350e+04  4.373333e+01  9.570000e+01
max    3.148050e+07  8.248333e+01  1.800000e+02

In [25]:
df.count()

Country       3170305
City          3170299
AccentCity    3170305
Region        3170297
Population      47970
Latitude      3170305
Longitude     3170305
dtype: int64

In [28]:
df.to_csv("../prepared_datasets/cities.csv")